.studios {
  width: 100%;
}
.studio-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.studios {
  margin-top: 20px;
  background-color: white;
}
.studio-img-info-slide {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 4px;
}
.studios-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(226, 225, 224);
  /* padding: 20px 20px;
  margin-bottom: 20px; */
}
.studio-info {
  width: 200px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}
.studio-title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.studio-followers {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: grey;
}
.studio-map {
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid rgba(165, 162, 162, 0.205);
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  /* padding: 20px 20px; */
}
.studio-button {
  display: flex;
  flex-direction: column;
}
.follow {
  background-color: brown;
  padding: 8px 28px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}
.profile {
  background-color: white;
  padding: 8px 28px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.397);
  /* margin: 10px; */
}
.studio-desc {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.studios-slide {
  /* width: 100%;
  height: 100px; */
  display: none;
  /* background-color: rgb(0, 0, 0); */
}
.image-studio-slide img {
  /* width: 20px;
  margin: auto;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  background-color: rgb(255, 255, 255); */
}
.image-studio-small-slide {
  width: 130px;
}
.image-studio-small-slide img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.studio-small-slide {
  /* background-color: white; */
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
/* .studio-slick {
  background-color: hotpink;
} */
