.login {
  /* background: url(./Login.jpg) rgba(255, 255, 255, 0.925); */
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(232, 229, 235, 0.692),
      rgba(196, 191, 201, 0.438)
    ),
    url(./Login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-bottom: 30px; */
}
.login-container {
  padding-top: 30px;
  width: 80%;
  margin: auto;
}
.login-heading {
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.login-paragraph {
  color: rgb(97, 96, 96);
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.google {
  width: 110px;
  background-color: rgb(213, 75, 61);
  height: 24px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
.fa-google {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.facebook {
  width: 110px;
  background-color: rgb(60, 89, 154);
  height: 24px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 10px;
}

.ggl {
  padding-left: 8px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.fb {
  padding-left: 8px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.fa-facebook-f {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.fb-ggl-msg {
  display: flex;
}
.msg {
  margin-left: 10px;
  border-radius: 50%;
  background-color: black;
  width: 30px;
  padding: 2px 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-envelope {
  color: white;
}
.field {
  display: flex;
  flex-direction: column;
}
.field-input input {
  width: 240px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.644);
}
.forget {
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
}
.login-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: rgb(152, 75, 72);
  padding: 8px 0px;
  border-radius: 8px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
}
.underline-or {
  display: flex;
  margin-top: 10px;
}
.underline {
  color: grey;
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 16px;
  padding: 0px 4px;
}

@media only screen and (min-width: 375px) {
  .login-paragraph {
    font-size: 14px;
  }
  .underline {
    width: 200px;
  }
  .or {
    font-size: 16px;
    margin-right: 10px;
  }
  .field-input input {
    width: 286px;
    height: 40px;
    margin-bottom: 4px;
  }
  .login-page-button {
    width: 300px;
    padding: 12px 0;
  }
}
@media only screen and (min-width: 414px) {
  .field-input input {
    width: 310px;
  }
  .login-page-button {
    width: 320px;
    padding: 12px 0;
  }
}
@media only screen and (min-width: 768px) {
  .field-input input {
    width: 310px;
  }
  .login-page-button {
    width: 320px;
    padding: 12px 0;
  }
  .login {
    background: linear-gradient(
        to right,
        rgba(232, 229, 235, 0.096),
        rgba(196, 191, 201, 0.055)
      ),
      url(./Login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* margin-bottom: 30px; */
  }
  .login-container {
    padding-top: 100px;
    padding-left: 30px;
    background-color: white;
    height: 980px;
    width: 360px;
    position: absolute;
    right: 2%;
  }
  .field-input input {
    background-color: rgb(226, 225, 224);
  }
  .login-page-button {
    background-color: rgba(165, 42, 42, 0.829);
  }
  .login-paragraph {
    width: 300px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
  }
  .underline {
    color: rgba(128, 128, 128, 0.192);
  }
  .or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .login {
  }
  .login-container {
    width: 300px;
    height: 500px;
  }
  .field-input input {
    background-color: rgb(226, 225, 224);
  }
  .field-input input {
    width: 260px;
    font-family: "Roboto", sans-serif;
  }
  .login-page-button {
    width: 276px;
    padding: 12px 0;
    height: 15px;
    font-family: "Roboto", sans-serif;
  }
  .google {
    width: 60px;
    padding: 12px 24px;
  }
  .facebook {
    width: 60px;
    padding: 12px 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .login-container {
    /* height: 662px; */
    margin-top: 9px;
    z-index: 0;
  }
  .login-page-button {
    width: 270px;
    height: 15px;
    /* padding: 12px 0; */
  }
  .fa-google {
    font-size: 16px;
    font-weight: 300;
  }
  .ggl {
    font-size: 14px;
    font-weight: 400;
  }
  .fa-facebook-f {
    font-size: 16px;
    font-weight: 300;
  }

  .facebook {
    height: 18px;
    width: 60px;
  }
  .google {
    height: 18px;
    width: 60px;
  }
  .fb {
    font-size: 14px;
    font-weight: 400;
  }
  .login-paragraph {
    font-size: 12px;
    color: rgb(171, 172, 171);
    font-weight: 400;
    line-height: 18px;
    width: 290px;
  }
  .login-heading {
    font-size: 22px;
    font-weight: 500;
  }
}
